<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koko.dao.CommonDao">
    <select id="findUserByAccount" parameterType="int" resultType="User">
        select * from user where user.account = #{account}
    </select>

    <select id="findRoleByAccount" parameterType="int" resultType="Role">
        select role.role_id,role.role_name from
        user inner join user_role
        on user.account = user_role.account
        inner join role
        on user_role.role_id = role.role_id
        where user.account = #{account}
    </select>

    <select id="findPermissionByAccount" parameterType="int" resultType="Permission">
        select permission.permission_id,permission.permission_code,permission.permission_name from
        user inner join user_role
        on user.account = user_role.account
        inner join role
        on user_role.role_id = role.role_id
        inner join role_permission
        on role.role_id = role_permission.role_id
        inner join permission
        on role_permission.permission_id = permission.permission_id
        where user.account = #{account}
    </select>

    <select id="findAll" resultType="User">
        select * from user
    </select>

    <select id="findAllUserByJob" resultType="User" parameterType="int">
        select user.* from
        user inner join user_role
        on user.account = user_role.account
        inner join role
        on user_role.role_id = role.role_id
        where role.role_id = #{job}
    </select>

    <select id="findSubjectByAccount" resultType="Subject" parameterType="int">
        select subject.* from
        user_subject inner join subject
        on user_subject.subject_id = subject.subject_id
        where user_subject.account = #{account}
    </select>

    <select id="findStudentScoreByAccount" resultType="com.koko.dto.StudentScore" parameterType="int">
        select user.account, user.name, subject.subject_name, grade.score from
        user inner join grade
        on user.account = grade.account
        join subject
        on grade.subject_id = subject.subject_id
        where user.account = #{account}
    </select>

    <update id="updateUserByAccount" parameterType="User">
        update user set
        user.password = #{password},
        user.name = #{name},
        user.age = #{age},
        user.sex = #{sex},
        user.address = #{address},
        user.avatar = #{avatar}
        where user.account = #{account}
    </update>

    <insert id="insertUser" parameterType="User">
        insert into user values(#{account}, #{password}, #{name}, #{age}, #{sex}, #{address}, #{avatar}, #{passwordSalt});
    </insert>
</mapper>